<!-- layouts/default.html -->
<div class="product-section">
    <div>
        <div class="product-info">
            <div class="product-icon">${product.icon}</div>
            <div class="product-details">
                <h3>${product.name}</h3>
                <p>${product.description}</p>
            </div>
        </div>
    </div>
    <div class="price">
        ${product.priceFormatted}
    </div>
</div>
<div class="form-section">
    <div id="message-area"></div>
    <div id="form-content"></div>
</div>
